@import url('http://yui.yahooapis.com/3.15.0/build/cssreset/cssreset-min.css');
@import url('http://fonts.googleapis.com/css?family=Audiowide');
.no-script {
  font-size: 1.5em;
  color: #fff;
  text-align: center;
  background: rgba(0, 255, 64, 0.5);
  border: solid 3px #fff;
  border-radius: 2px;
  position: fixed;
  left: 25%;
  top: 30%;
  right: 25%;
  bottom: 50%;
  z-index: 999;
  padding: 5px;
}
html,
body {
  font-family: "Lucida Grande", "segoe UI", "Hiragino Maru Gothic ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;
  height: 100% !important;
}
#wrapper {
  min-height: 100% !important;
  margin: 0 auto -80px;
}
#wrapper:after {
  content: "";
  display: block;
  clear: both;
}
footer,
#wrapper:after {
  height: 80px;
}
a:link {
  color: #ffffff;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
  text-decoration: none;
}
a:active {
  color: #ffffff;
  text-decoration: none;
}
header {
  width: 100%;
  background: limegreen;
  overflow: hidden;
  color: #808080;
  position: relative;
}
header h1 {
  font-family: 'Audiowide', sans-serif;
  font-size: 2em;
  color: #fff;
}
header .header-info {
  font-family: 'Audiowide', sans-serif;
  font-size: 1em;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  padding: 2px;
}
header .header-info ul {
  font-size: 0.9em;
}
@media screen and (max-width: 480px) {
  header .header-info {
    font-size: 0.5em;
    position: relative;
  }
}
#enchant-background {
  background-image: url("../images/bg-space02_repX.jpg");
  background-repeat: repeat-x;
}
#enchant-stage {
  margin: 0 auto;
}
nav {
  display: block;
}
ul#links {
  font-size: 20px;
  height: 3em;
  text-align: center;
}
ul#links li {
  font-family: 'Audiowide', sans-serif;
  font-size: 1.0em;
  color: white;
  width: 7em;
  display: inline-block;
  overflow: hidden;
  margin: 5px 5px 5px 0;
  background: #3cce46;
  border-radius: 10px;
}
ul#links li a {
  display: block;
}
ul#links li:hover {
  background: #71ff71;
}
@media screen and (max-width: 480px) {
  ul#links li {
    min-width: 100%;
  }
}
footer {
  text-align: center;
  font-size: .8em;
  color: #fff;
  background: #535353;
  padding: 0.4em;
}
.page-header {
  background: #3cce46;
  font-family: 'Audiowide', sans-serif;
  font-size: 2em;
  color: #fff;
}
.backHome {
  margin: 0 auto;
  background: #008080;
  color: #fff;
  font-size: 1.2em;
  padding: .3em;
  position: absolute;
  bottom: 0;
}
.backHome a {
  display: block;
}
#main_games {
  text-align: center;
  margin: 0 auto;
}
ul.game-list {
  padding: 10px;
}
ul.game-list > li {
  display: inline-block;
  box-sizing: border-box;
  border: solid 4px #2bac34;
  padding: 4px;
  margin: 20px auto 0;
  width: 75%;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}
ul.game-list > li img {
  margin: 10px auto;
  border: solid 4px #8ee293;
  max-width: 210px;
}
ul.game-list > li .game-title {
  letter-spacing: .1em;
  font-size: 1.5em;
  color: #fff;
  background: #3cce46;
}
ul.game-list > li .game-info {
  font-size: 1em;
  color: #8e8e8e;
}
ul.game-list > li:hover {
  background: #8ee293;
  border: solid 5px #8ee293;
}
ul.game-list .tags li {
  font-family: impact, sans-serif;
  font-size: 0.8em;
  float: left;
  margin-right: .3em;
  padding: .2em .3em;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 2px;
  background: #3cce46;
  color: #fff;
}
ul.game-list .tags li:before {
  content: "\002732";
  margin-right: 3px;
}
